[Unit]
Description=Gopher Per-Connection Server

[Service]
ExecStart=-/opt/tazgopher/bin/tazgopher
Environment=MOJO_MAX_REDIRECTS=5
StandardInput=socket
DynamicUser=yes
CPUWeight=20
IOWeight=20
